#cart_total {
  justify-content: flex-end;
}
#cart_total p:first-child {
  margin-right: 10px;
}
#cart_total p:last-child {
  color: burlywood;
}
.price {
  color: white !important;
  display: contents;
  margin-left: 3%;
}
#cart_total p:last-child,
.price {
  font-weight: bold;
}
#custom {
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: burlywood;
}
.product_image {
  height: 200px;
}
footer a,
label {
  color: white;
}
.bg-color {
  background-color: darkcyan;
  color: white;
}
.price-color {
  font-size: 18px;
  justify-content: center;
  display: flex;
  color: white;
}

.nav-link,
h5 {
  color: white !important;
  font-size: 20px;
}
.nav-link:hover {
  color: burlywood !important;
}
footer a {
  color: white !important;
}
footer a:hover {
  color: burlywood !important;
}
.btn {
  color: burlywood;
  border-color: burlywood;
  background-color: white;
}
.btn:hover {
  color: white;
  border-color: burlywood;
  background-color: burlywood;
}
.card-text {
  display: inline-block;
}

/*
input:invalid {
  background-color: red;
}
*/
input:valid {
  border: #0dcaf0 solid 1px;
  background: #0dcaf0;
}

#alert-success {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: all 0.5s linear;
  top: -100px !important;
}

#alert-success.show {
  opacity: 1;
  top: -60px !important;
}

#car-list {
  transition: all 0.5s linear;
}
.card {
  opacity: 1;
  position: relative;
  left: 0;
  height: 234px;
  overflow: hidden;
  transition: all 0.5s linear;
}
.card.deleted {
  opacity: 0;
  height: 0;
  left: -200px;
}

/* Tricks footer bottom */
body {
  position: relative;
  min-height: 100vh;
}
main {
  padding-bottom: 60px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
