#cart_total {
  justify-content: flex-end;
}
#cart_total p:first-child {
  margin-right: 10px;
}
#cart_total p:last-child {
  color : burlywood;
}
.price {
  color: white !important;
  display: contents;
  margin-left: 3%;
}
#cart_total p:last-child,
.price {
  font-weight: bold;
}
#custom {
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: burlywood;
}
a:hover {
  color: blanchedalmond;
}
.product_image {
  height: 200px;
}
footer a,
label {
  color: burlywood;
}
.bg-color {
  background-color: darkcyan;
  color: white;
}
.price-color {
  font-size: 18px;
  justify-content: center;
  display: flex;
  color: burlywood;
}

.nav-link,
h5 {
  color: burlywood !important;
  font-size: 20px;
}
.nav-link:hover {
  color: blanchedalmond !important;
}
footer a {
  color: burlywood !important;
}
footer a:hover {
  color: blanchedalmond !important;
}
.btn {
  color: white;
  border-color: burlywood;
  background-color: burlywood;
}
.btn:hover {
  color: burlywood;
  border-color: burlywood;
  background-color: white;
}
.card-text{
  display: inline-block;
}
/*
.card{
  width: 30%;
}*/
